__pycache__/
*.py[cod]
# Ignore virtual environments
.env
venv/*
.venv/*

# Ignore data files
data/
/model
*/__pycache__

venv/*
# Ignore dvc
.dvc/*


# Ignore other
.idea/*
*.pkl

# Ignore pytest cache
.pytest_cache/*

.DS_Store